<div class="my-3">
    <h3>ADD Todo</h3>
<form (ngSubmit) = "onSumbit()">
    <div class="mb-3">
        <label for="title" class="form-label">Todo Title</label>
        <input type="text" class="form-control" name="title" [(ngModel)] = "title" id="title" placeholder="Enter your todo's title">
      </div>
      <div class="mb-3">
        <label for="desc" class="form-label">Todo Description</label>
        <input type="text" class="form-control" name="desc" [(ngModel)] = "desc" id="desc" placeholder="Enter todo's description">
      </div>
      <button type="submit" class="btn btn-sm btn-primary">Add Todo</button>
</form>
</div>